# Archivos específicos
compile.sh
Dockerfile.old

# Node
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Archivos de construcción
dist
build
*.tsbuildinfo

# Entorno
.env
.env.*

# Sistema
.DS_Store
Thumbs.db

# IDE
.idea
.vscode
*.sublime-*
*.swp
*.swo 